* {
   box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    background-color: #DC143C;
    width: 100%;
    color: white;
}

.logo {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.search_wrap {
    float: right;
}

.search_form {
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: #dc143c;
}


footer {
    background-color: #DC143C;
    width: 100%;
    color: white;
}

.copyright {
    font-size: 15px;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1200px) {  /*가로가 1200px 보다 커지면 더 이상 늘어나지 X*/
    

}