html(lang="en")
  head
    title #{pageTitle} | JongJOng

  body 
    div#map(style="width:500px;height:400px;")
    
    script(type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=51be20d68b5d57bc1492c51934cef078")
    script.
        var container = document.getElementById('map'); 
        var options = { 
            center: new kakao.maps.LatLng(33.450701, 126.570667), 
            level: 3 
        };

        var map = new kakao.maps.Map(container, options);

  