* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: #dc143c;
  * {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }

  body {
    background-color: #dc143c;
  }

  header {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    padding: 1em 0 1em 0;
  }
  .inner {
    padding: 0.8em 0;
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .logoImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 150px;
  }
  .logo {
    color: white;
    font-size: 30px;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  .subLogo {
    color: white;
    font-size: 15px;
    margin-top: 30px;
  }
  .map_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 380px;
  }
  .radius_border {
    border: 1px solid #919191;
    border-radius: 5px;
  }
  .custom_typecontrol {
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;

    height: 30px;
    margin: 0;
    padding: 0;
    z-index: 1;
    font-size: 12px;
    font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  }
  .custom_typecontrol span {
    display: block;
    width: 65px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }
  .buildings {
    width: 60%;
    margin: 0 auto; /* 수평 가운데 정렬 */
  }
  .custom_typecontrol .btn {
    background: #fff;
    background: linear-gradient(#fff, #e6e6e6);
  }
  .custom_typecontrol .btn:hover {
    background: #f5f5f5;
    background: linear-gradient(#f5f5f5, #e3e3e3);
  }
  .custom_typecontrol .btn:active {
    background: #e6e6e6;
    background: linear-gradient(#e6e6e6, #fff);
  }
  .custom_typecontrol .selected_btn {
    color: #fff;
    background: #425470;
    background: linear-gradient(#425470, #5b6d8a);
  }
  .custom_typecontrol .selected_btn:hover {
    color: #fff;
  }
  .custom_zoomcontrol {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 36px;
    height: 80px;
    overflow: hidden;
    z-index: 1;
    background-color: #f5f5f5;
  }
  .custom_zoomcontrol div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 40px;

    cursor: pointer;
  }
  .custom_zoomcontrol div img {
    width: 15px;
    border: none;
  }
  .custom_zoomcontrol div:first-child {
    border-bottom: 1px solid #bfbfbf;
  }
  .search_wrap {
    width: 100%;
    padding: 5em 0 5em 0;
  }
  .search_form {
    display: flex;
    justify-content: center;
  }

  .caution_1 {
    width: 80%;
    color: white;
    display: flex;

    justify-content: center;
    margin: auto;
    padding: 0 0 1em 0;
  }
  .checkNav {
    color: white;
    padding: 1em 0 0 0;
    text-align: center;
    justify-content: center;
  }

  table {
    width: 60%;
  }
  td {
    width: 25%;
  }

  .caution_2 {
    width: 80%;
    color: white;
    display: flex;

    justify-content: center;
    margin: auto;
    padding: 1em 0 5em 0;
  }

  footer {
    display: block;
    margin: auto;
  }
  .inner {
    width: 100%;
    height: 20%;
  }
  .copyright {
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  @media only screen and (min-width: 1200px) {
    /*가로가 1200px 보다 커지면 더 이상 늘어나지 X*/
  }
}

header {
  display: block;
  margin: auto;
  padding: 1em 0 1em 0;
}
.inner {
  padding: 0.8em 0;
  text-align: center;
  justify-content: center;
}
.logoImg {
  width: 2.5em;
  height: 2.5em;
}
.logo {
  color: white;
  font-size: 30px;
}
.subLogo {
  color: white;
  font-size: 15px;
  padding: 0.2em 0 0 0;
}

.mapContainer {
  width: 100%;
  height: 460px;
}
#map {
  width: 100%;
  height: 100%;
}

.path_info {
  display: block;
  background: #657186e3;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  width: 8em;
}

.search_wrap {
  width: 100%;
  padding: 5em 0 5em 0;
}
.search_form {
  display: flex;
  justify-content: center;
}

.caution_1 {
  width: 80%;
  color: white;
  display: flex;

  justify-content: center;
  margin: auto;
  padding: 0 0 1em 0;
}
.checkNav {
  color: white;
  padding: 1em 0 0 0;

  text-align: center;
  justify-content: center;
}

table {
  width: 60%;
}
td {
  width: 25%;
}

.caution_2 {
  width: 80%;
  color: white;
  display: flex;

  justify-content: center;
  margin: auto;
  padding: 1em 0 5em 0;
}

footer {
  display: block;
  margin: auto;
}
.inner {
  width: 100%;
  height: 20%;
}
.copyright {
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 1200px) {
  /*가로가 1200px 보다 커지면 더 이상 늘어나지 X*/
}

td {
  transition: background-color 1s ease-out 100ms;
}
td:hover {
  background-color: #ff1493;
  cursor: pointer;
}
